



 
<div class="form-group">
  <label for="instrument">Instrument</label>

  <input  required value="<%= music.instrument %>" type="text" pattern="[A-z0-9À-ž\s]+" name="instrument" id="instrument"   maxlength="20" class="form-control">
</div>

 
<div class="form-group">
  <label for="price">Price</label>
 
  <input  required value="<%= music.price %>" type="text" pattern="[A-z0-9À-ž\s]+" name="price" id="price"  maxlength="25"  class="form-control">
</div>
 
<div class="form-group">
  <label for="color">Color</label>
  <input  required value="<%= music.color %>" type="text" step="0.01" name="color" id="color" maxlength="25"  class="form-control">
</div>

<div class="form-group">
  <label for="year">Year</label>
  <input  required value="<%= music.year %>" type="text" step="0.01" name="year" id="year" maxlength="25"  class="form-control">
</div>

<div class="form-group">
  <label for="comments">Comments</label>
  <input  required value="<%= music.comments %>" type="text" step="0.01" name="comments" id="comments" maxlength="25"  class="form-control">
</div>


<a href="/#instruments" class="btn btn-danger" type="submit" style="background-color: hsla(239, 89%, 59%, 0.925);">Cancel</a>


 <button class="btn btn-danger"  type="submit" style="background-color: #f33a43;"> Save  </button>